<html>
    <head></head>
    <script>

import "mathbox/mathbox.css"
import * as THREE from "three"
import {OrbitControls} from "three/examples/jsm/controls/OrbitControls.js"
import * as MathBox from "mathbox"

const element = document.querySelector("#mbtest");
    const π = Math.PI;

    var mathbox = MathBox.mathBox({
        element:element,
      plugins: ["core", "controls", "cursor"],
      controls: {
        klass: THREE.OrbitControls,
      },
    });
    var three = mathbox.three;
    </script>

</html>