// colors
// @import "nord/src/sass/nord.scss";
@import "./nord.css";
@import "../../node_modules/nord/src/sass/nord.scss";

:root {
  --primary-text: var(--nord6);
  --secondary-text: #9f9f9f;
  --anchor-text: var(--nord9);
}

// shadows
:root {
    --shadow-color: 222deg 23% 13%;
    --shadow-elevation-low:
      0.6px 0.5px 0.9px hsl(var(--shadow-color) / 0.4),
      1px 0.8px 1.4px -1.3px hsl(var(--shadow-color) / 0.38),
      2.6px 2px 3.6px -2.7px hsl(var(--shadow-color) / 0.36);
    --shadow-elevation-medium:
      0.6px 0.5px 0.9px hsl(var(--shadow-color) / 0.42),
      2px 1.6px 2.8px -0.9px hsl(var(--shadow-color) / 0.41),
      5.3px 4px 7.3px -1.8px hsl(var(--shadow-color) / 0.39),
      13px 10px 18px -2.7px hsl(var(--shadow-color) / 0.38);
    --shadow-elevation-high:
      0.6px 0.5px 0.9px hsl(var(--shadow-color) / 0.39),
      3.7px 2.8px 5.1px -0.4px hsl(var(--shadow-color) / 0.38),
      6.9px 5.3px 9.5px -0.8px hsl(var(--shadow-color) / 0.38),
      11.6px 8.8px 15.9px -1.2px hsl(var(--shadow-color) / 0.37),
      18.8px 14.4px 25.9px -1.5px hsl(var(--shadow-color) / 0.36),
      29.8px 22.7px 41px -1.9px hsl(var(--shadow-color) / 0.36),
      45.7px 34.9px 63px -2.3px hsl(var(--shadow-color) / 0.35),
      67.7px 51.7px 93.3px -2.7px hsl(var(--shadow-color) / 0.34);
  }

// fonts

// Base Layout
* {
    box-sizing: border-box;
}

html {
  scroll-padding-top: 0px;
    height: 100%;
    // height: 100vh;
    min-width: 300px;
    background-color: $nord1;
    scroll-behavior: smooth;
}
body {
  font-family: 'Crimson Pro Variable', sans-serif;
  font-size: 1.2rem;
  font-variation-settings: "wdth" 90, "wght" 200;
  min-height: 100vh; // seems necessary when toggetling
  height: 100%;
  min-height: 0px;


  // mobile first
  display: grid;
  grid-template-rows: 65px 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "topnav"
                        "main";
  
  
    // font-family: 'Space Grotesk Variable', sans-serif;
    // font-family: 'Lora Variable', sans-serif;
    // font-family: 'Sarabun', sans-serif;
    // font-family: 'Bonbon', sans-serif;
    // font-family: "Space Mono", monospace;
    // font-weight: 400;
}
main {
  grid-area: main;
  line-height: 1.5; // don't space menu
  max-width: 750px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  color: var(--nord6);
}

a {
    color: var(--nord9)
}

// focus on links
// https://github.com/codrops/LineHoverStyles/blob/main/css/base.css
a:focus {
  /* Provide a fallback style for browsers
 that don't support :focus-visible */
  outline: none;
  background: lightgrey;
}

a:focus:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
 that do support :focus-visible */
  background: transparent;
}

a:focus-visible {
  /* Draw a very noticeable focus style for
 keyboard-focus on browsers that do support
 :focus-visible */
  outline: 2px solid var(--nord11);
  background: transparent;
}

@media screen and (min-width: 1200px) {
        main {
            // margin-top: 40px; // shift the size of fixed navigation
            // margin-left: 0px; // shiftby size of navigation
            padding-top: 20px;
        }
        // main.expanded {
        //     margin-top: 140px;
        // }
        body {
          grid-template-columns: 250px minmax(200px, 1fr);
          grid-template-areas: "sidenav main";
        }
    }

  /* ===== Scrollbar CSS ===== */
  /* Generated with https://codepen.io/stephenpaton-tech/full/JjRvGmY */
  /* Firefox */
  * {
      scrollbar-width: auto;
      scrollbar-color: var(--nord3) var(--nord0);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
      width: 15px;
      height: 10px;
  }

  *::-webkit-scrollbar-track {
      background: var(--nord0);
  }

  *::-webkit-scrollbar-thumb {
      background-color: var(--nord3);
      border-radius: 12px;
      border: 3px solid var(--nord0);
  }