@use 'vuetify' with (
    $utilities: "true",
    $color-pack: false,
    $reset: false,
    $line-height-root: 1.1 // was affecting side nav
    // https://github.com/vuetifyjs/vuetify/blob/0ecd917069d1b4e725dacacef2b0457a76fb094c/packages/vuetify/src/styles/elements/_global.sass
)