a {
    color: var(--nord9)
}
.date {
    color: var(--nord6);
    font-size: .8rem;
}
.title {
    margin-top: 5px;
}
.blog-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


// style the inline code, but reset code blocks
code {
    background-color: var(--nord3);
    padding: 1px 3px;
    margin: 0px 2px;
    border-radius: 5%;
    color: var(--nord6);
}

pre code {
    // right now the display code blocks are also <code>
    background-color: var(--nord0);
    padding: 0px;
    margin: 0px;
}

// style tippyfootnote  with theme "nord"
.tippy-box[data-theme~='nord'] {
   background-color: var(--nord0);
   color: var(--nord4);
   box-shadow: var(--shadow-elevation-medium);
}
.tippy-content {
    // inside content
}