// possibly appropriate for global, but subject to change
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,100&family=Gloria+Hallelujah&family=KoHo:wght@300&display=swap');

h2 {
    margin: 30px 0px 10px 0px; 
    // color: var(--nord14);
}



.date {
    color: var(--nord6);
    font-size: .8rem;
}
.title {
    margin-top: 5px;
}
.blog-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blog-cover {
    display: block;
    max-height: 300px;
    margin: 0px auto;
}

// style the inline code, but reset code blocks
code {
    background-color: var(--nord3);
    padding: 1px 1px;
    margin: 0px 1px;
    border-radius: 5%;
    color: var(--nord6);
    font-weight:300;
    font-size: 1rem;
}

pre code {
    // right now the display code blocks are also <code>
    background-color: var(--nord0);
    padding: 0px;
    margin: 0px;
}

// style tippyfootnote  with theme "nord"
.tippy-box[data-theme~='nord'] {
   background-color: var(--nord0);
   color: var(--nord4);
   box-shadow: var(--shadow-elevation-medium);
}
.tippy-content {
    // inside content
}


// TOC styling

main {
    display: grid; // override vuetify styles, being placed after
    // grid-template-columns: fit-content(100%); 
    // grid-template-rows: auto;
    grid-template-areas: "content";
    width: 100%;
    height: fit-content; // solves container height issue for toc
    padding: 0px 0px;
}
article {
    grid-area: content;
    padding: 0 1rem;
    max-width: 700px;
    min-width: 0px; // solved the problem of overflowing content
    width: 100%;
    // justify-self:normal;
    // width: auto;
    // height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.toc-nav {
    display: none;
}

// Responsive Katex display equations
// media query for table of contents
.katex-display > .katex {
    display: inline-block;
    overflow-x: auto;
    max-width:100%;
    overflow-y: hidden;

  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
      height: 10px;
  }
}
@media screen and (max-width: 500px) {
    .katex-display > .katex {
        font-size: 1rem;
    }
}

@media screen and (min-width: 900px) {
    main {
    grid-template-columns: minmax(0px, 1fr) fit-content(250px);
    grid-template-areas: "content toc";
    max-width: 1500px;
    & .toc-nav {
        grid-area: toc;
        position: sticky;
        align-self: start;
        margin-right: 2rem;
        margin-left: 0rem;
        top: 3.5rem;
    }
    }
.toc-nav {
    display: block;
}
}