---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro'

// const allPosts = await Astro.glob("../posts/*.md")
const allPosts = await getCollection("blog")

// get tags from each front matter post, then flatten the array and remove duplicate
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle = "Tag Index";

const activeNav = 3; // which
---
<!-- <style lang=scss>
    

</style> -->
<style lang="scss">
    a {
      color: #00539F;
    }
  
    .tags {
      display: flex; 
      flex-wrap: wrap; 
      margin: 0 auto;  
    }
  
    .tag {
      margin: 0.25em;
      border: dotted 1px #a1a1a1;
      border-radius: .5em;
      padding: .5em 1em;
      font-size: 1.15em;
      background-color: #F8FCFD;
    }
  </style>

<BaseLayout pageTitle={pageTitle} activeNav={activeNav}>
<p> This is the index tags page?</p>
<!-- <iframe width="100%" height="635"
  src="https://observablehq.com/embed/@d3/sortable-bar-chart?cell=viewof+order&cell=chart"></iframe> -->
<div class="tags">
    {tags.map((tag) => (
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
</div>

</BaseLayout>