---
import Collapsable from "../components/sandbox/Collapsable.vue";
import BaseLayout from "../layouts/BaseLayout.astro";
import Proof from "../components/Proof.astro"
import "../styles/global.scss"
import MyCodeBlock from "../components/MyCodeBlock/MyCodeBlock.astro";
---
<BaseLayout>
    <main>
    <h1>Component Testing!</h1>
    <p>
    You've found the component testing page! This page is simply here for me to make sure that the components I make for this webpage remain stable and in a usable state. Once I'm a little more proficient with a front-end testing framework, perhaps this is not going to be as necessary, but for now I'm manually verifying that everything works as expected! </p>

    <h2>Proof environment </h2>
    <Proof />
    </main>
    </BaseLayout>


