---
import BaseLayout from "../layouts/BaseLayout.astro"

const activeNav = 2;
---
<BaseLayout activeNav={activeNav}>
  <main>

  <h1>Resources</h1>
  <hr />
  <p style="margin: 20px 0;">Coming soon! Website migration in progress...</p>
  </main>
</BaseLayout>
