---
---
<div class="giscus"></div>

<script src="https://giscus.app/client.js"
        data-repo="lioumens/astro-website"
        data-repo-id="R_kgDOJmUfjg"
        data-category="Announcements"
        data-category-id="DIC_kwDOJmUfjs4CWrtE"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="dark_dimmed"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>

<style lang="scss">
    .giscus {width: 100%}
</style>