---
interface Props {
    headings: {
        depth: number
        text: string
        slug: string
    }[]
}
const {headings, class:className} = Astro.props
// console.log(headings)
---

<nav aria-label="secondary" class={className}>
    <ul>
        {headings.map((heading) => (
            <li>
                <a href={`#${heading.slug}`}>{heading.text}</a>
            </li>
        ))}
    </ul>
</nav>


<style lang="scss">
ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    & li {
    font-size: 1rem;
    padding-bottom: .7rem;
    & a {
        color: #9f9f9f;
        text-decoration: none;
        &:hover {
        color: var(--nord14);
        }
    }
    }
    & li.active {
        & a {
            color: var(--nord14);
        }
    }
}
</style>
