---
const {heading, toplevel} = Astro.props;
---

<li class:list={[{topheading : toplevel}]}>
  <a href={"#" + heading.slug}>
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
    <ul>
      {
        heading.subheadings.map(subheading => (
        <Astro.self heading ={subheading} toplevel={false} />
        ))
      }
    </ul>
    )
  }
</li>

<style lang="scss">
li {
  font-size: 1rem;
  & ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1rem;
    padding-bottom: .5rem;
  }
  
  a {
    color: #9f9f9f;
    text-decoration: none;
    &:hover {
      color: var(--nord14);
    }
  }
}
li.topheading {
  padding-bottom: .5rem;
}
li.active {
  & > a {
    color: var(--nord14);
  }
}
</style>